   

@media only screen and (min-width: 768px) {
  .vandm {
    margin-top: 150px;
    padding: 60px 50px;
  }
  }

  body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }

  .bg-grey {
    background-color: #f6f6f6;
  }

    h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  } 

  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .initiative {
    margin-top: 20px;
  }

  .footer{
    width: 110%;
    margin-left: -20px;
  }
  
  
  .footer-icons{
    margin-top: 25px;
    }
    
  .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
    
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
      margin-right: 3px;
    margin-bottom: 5px;
    }
  .footer-icons :hover {
      color: rgba(255, 255, 255, 1);
      box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    }
