#particle {
    background-color: #101010;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

#overlay {
    position: relative;
}

.sym-content {
    background-color: white;
    margin-top: 250px;
    margin-bottom: 10px;
}

#particle {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}


/* @media only screen and (max-width: 600px) {
  .logo {
  
    margin-top: 200px;
    margin-left: 10px;
  }
  .bg-img {
    height: 100px;
    width: auto;
  }
} */

*,
:after,
:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row {
    padding-top: 20px;
    margin-bottom: 30px;
}

section {
    width: 100%;
    display: table;
    height: 20em;
}

.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

.items {
    margin-left: 50px;
}

.sym360 {
    margin-left: 90px;
    margin-top: -50px;
    margin-bottom: -40px;
}

.symfographic {
    margin-top: -10px;
    margin-bottom: -10px;
}

body {
    background-color: #eee;
}

.title {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    box-shadow: none;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top: 20px;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.carousel-indicators .active {
    background-color: white;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.btn {
    margin-top: auto;
}

.tagline {
    /*color: darkkhaki;*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: change-color 5s infinite;
}

@keyframes change-color {
    0% {
        color: #f6ab1b;
    }
    33% {
        color: #c62127;
    }
    66% {
        color: #4a88c8;
    }
    100% {
        color: #f1582a;
    }
}

.card-design {
    background-color: lightblue;
}

@media only screen and (max-width: 768px) {
    .icon {
        margin-left: 50px;
    }
    .social {
        margin-left: 40px;
    }
    #foot {
        margin-left: 70px;
    }
}

.bg-img {
    width: auto;
    height: 100px;
    transition: .2s ease;
}

.bg-img:hover {
    transform: scale(1.1);
}

.container-fluid {
    overflow: hidden;
}

.home-logo {
    text-align: center;
}

.container {
    margin: 60px auto 0;
}